html {
    background-color: #002b36;
    color: #CCCCCC;
}
body {
}
a {
    color: #268bd2;
}
b {
    color: #b58900;
}
h1 {
    color: #2aa198;
}
h2 {
    color: #2aa198;
}
h3 {
}
h4 {
}
h5 {
    color: #2aa198;
}
p {
    margin-right: 10px;
}